.window.big
  .content
    .credits
      %h2
        Made by
      %h1 Cezar Andrici & Stefan Stolniceanu

      %hr

      %h2
        Our teachers
      %h1 Cornelia Ivasc & Mirela Tibu

      %hr

      %h2
        Our gurus
      %h1 Mircea Pricop & Mihai Birsan

      %hr

      %h2
        Our host
      %h1 DigitalOcean
