#search-friend-popover.popover.right
  .popover-content
    %input#search_friend_input{:type => "text",
                               :autofocus => "autofocus", 
                               :placeHolder => "Search friends"}
.wrapper
  .mega-super-awesome-button
    %ul.colorfull-container
      %li
        .btn.btn-block.btn-large.btn-primary.buton.noHammer
          .text
            Play
          .buton-wrp
            %a.btn.btn-block.btn-default{:href => play_path}
              VS Player
            %a.btn.btn-block.btn-default#search-friend
              VS Friend
            %a.btn.btn-block.btn-default{:href => play_vs_ai_url(4)}
              VS #{User.where(:id => 4).first.nickname}
      %li
        %a.btn.btn-block.btn-large{:href => ranking_path(1)}
          Ranking
      %li
        %a.btn.btn-block.btn-large{:href => tutorial_url}
          Tutorial
-#
      - unless current_user.is_guest
        %li
          %a.btn.btn-block.btn-large#facebook-friends
            Find friends with Facebook
