.window
  .content
    %h2 Tutorial

    .column
      .column_section
        %img{:src => "/assets/tutorial/play.png"}/
        %br{:clear => "both"}/
        .column_section_info
          Here we have the main Play button located on the home page of the site. To see the other options you have to hover the mouse over it.
      .column_section
        %img{:src => "/assets/tutorial/playvs.png"}/
        %br{:clear => "both"}/
        .column_section_info
          Here is what it looks like when you hover the main Play button. You can either play with a friend or versus a random player.
          %span Note
          that playing versus a random player will count towards achievements and worldwide ranking whilst playing with a friend will only be for fun.
      .column_section
        %img{:src => "/assets/tutorial/vsfriends.png"}/
        %br{:clear => "both"}/
        .column_section_info
          This textbox should appear if you pressed the Play VS Friend button, in here you can type your friends name and see whether he is online or not.
      .column_section
        %img{:src => "/assets/tutorial/dragarea.png"}/
        %br{:clear => "both"}/
        .column_section_info
          Either you're playing with a friend or VS a random player once the decision is made you'll be transferred to a grid where you need to drag and drop your airplanes. You can rotate your airplanes by clicking on them.
      .column_section
        %img{:src => "/assets/tutorial/done.png"}/
        %br{:clear => "both"}/
        .column_section_info
          Once you've finished placing your airplanes you can click Done.
      .column_section
        %img{:src => "/assets/tutorial/waitingscreen.png"}/
        %br{:clear => "both"}/
        .column_section_info
          If you're playing in VS Friend mode and you see this it means that your friend is not ready yet, else it means there are no random opponents for you at the moment and you'll have to wait.
      .column_section
        %img{:src => "/assets/tutorial/grids.png"}/
        %br{:clear => "both"}/
        %img{:src => "/assets/tutorial/yourturn.png"}/
        %br{:clear => "both"}/
        .column_section_info
          You can see above the first grid, your grid, whose turn is it. The gameplay is turn based strategy and all you need to do is think and click. Though as you can see there is no time limit since this is a VS Friend game.
      .column_section
        %img{:src => "/assets/tutorial/time.png"}/
        %br{:clear => "both"}/
        .column_section_info
          This is an example of a game with an active timer. Notice that you have a digital clock like timer in the navbar, you also have a timer underneath the red line above the 2 grids, and when you have 10 or less seconds left your name changes to
          %span Hurry up!
          to mark that you'll be out of time soon enough.
      .column_section
        %img{:height => "250px", :src => "/assets/tutorial/navbar.png"}/
        %br{:clear => "both"}/
        .column_section_info
          Here we have the navbar situated in the left side. The first avatar is yours and the others are for people that are in a game with you under the games section, invited you to be his/her friend or invited you to play a game under notifications and your online friends under the friends section.
      .column_section
        %img{:src => "/assets/tutorial/elo.png"}/
        %br{:clear => "both"}/
        .column_section_info
          In the upper right corner you can find a Home button and your current ELO. ELO is a rating system based on your VS Random Players games.
      .column_section
        %img{:src => "/assets/tutorial/ranking.png"}/
        %br{:clear => "both"}/
        .column_section_info
          You can check where you or other friends are ranked by clicking the Ranking button on the Home page just below the main Play button.
      .column_section
        %img{:src => "/assets/tutorial/rankingsearch.png"}/
        %br{:clear => "both"}/
        .column_section_info
          Similar to the VS Friend search, the ranking search will search throughout the whole database and will redirect you to that user's profile.
    %h1 Have fun!
