.main_grid
  .top_mark
    .mark
    .mark A
    .mark B
    .mark C
    .mark D
    .mark E
    .mark F
    .mark G
    .mark H
    .mark I
    .mark J
  .clear
  .left_mark
    .mark 1
    .mark 2
    .mark 3
    .mark 4
    .mark 5
    .mark 6
    .mark 7
    .mark 8
    .mark 9
    .mark 10
  .grid.basic-sprite
    %table
      %tbody
        %tr
          %td.casuta0-0
          %td.casuta0-1
          %td.casuta0-2
          %td.casuta0-3
          %td.casuta0-4
          %td.casuta0-5
          %td.casuta0-6
          %td.casuta0-7
          %td.casuta0-8
          %td.casuta0-9
        %tr
          %td.casuta1-0
          %td.casuta1-1
          %td.casuta1-2
          %td.casuta1-3
          %td.casuta1-4
          %td.casuta1-5
          %td.casuta1-6
          %td.casuta1-7
          %td.casuta1-8
          %td.casuta1-9
        %tr
          %td.casuta2-0
          %td.casuta2-1
          %td.casuta2-2
          %td.casuta2-3
          %td.casuta2-4
          %td.casuta2-5
          %td.casuta2-6
          %td.casuta2-7
          %td.casuta2-8
          %td.casuta2-9
        %tr
          %td.casuta3-0
          %td.casuta3-1
          %td.casuta3-2
          %td.casuta3-3
          %td.casuta3-4
          %td.casuta3-5
          %td.casuta3-6
          %td.casuta3-7
          %td.casuta3-8
          %td.casuta3-9
        %tr
          %td.casuta4-0
          %td.casuta4-1
          %td.casuta4-2
          %td.casuta4-3
          %td.casuta4-4
          %td.casuta4-5
          %td.casuta4-6
          %td.casuta4-7
          %td.casuta4-8
          %td.casuta4-9
        %tr
          %td.casuta5-0
          %td.casuta5-1
          %td.casuta5-2
          %td.casuta5-3
          %td.casuta5-4
          %td.casuta5-5
          %td.casuta5-6
          %td.casuta5-7
          %td.casuta5-8
          %td.casuta5-9
        %tr
          %td.casuta6-0
          %td.casuta6-1
          %td.casuta6-2
          %td.casuta6-3
          %td.casuta6-4
          %td.casuta6-5
          %td.casuta6-6
          %td.casuta6-7
          %td.casuta6-8
          %td.casuta6-9
        %tr
          %td.casuta7-0
          %td.casuta7-1
          %td.casuta7-2
          %td.casuta7-3
          %td.casuta7-4
          %td.casuta7-5
          %td.casuta7-6
          %td.casuta7-7
          %td.casuta7-8
          %td.casuta7-9
        %tr
          %td.casuta8-0
          %td.casuta8-1
          %td.casuta8-2
          %td.casuta8-3
          %td.casuta8-4
          %td.casuta8-5
          %td.casuta8-6
          %td.casuta8-7
          %td.casuta8-8
          %td.casuta8-9
        %tr
          %td.casuta9-0
          %td.casuta9-1
          %td.casuta9-2
          %td.casuta9-3
          %td.casuta9-4
          %td.casuta9-5
          %td.casuta9-6
          %td.casuta9-7
          %td.casuta9-8
          %td.casuta9-9


