.finish
  - if @winner && @loser
    %h1
      Winner is
      = @winner.name
    %h3
      Loser is
      = @loser.name
    %a.m-btn.blue.btn-block{:href => home_url} Home
  - else
    :javascript
      $(document).ready(function() {
        location.reload();
      });
