%header
  .container#game-id{:game => params[:game]}
    .col
      .col
        %h3
          - if @opponent
            VS #{@opponent.name}
          - else
            VS Random player
    .col.alignright
      - if params.has_key? :game
        .col
          %a.m-btn.red.icn-only.txt-icn{:href => game_exit_url(params[:game])} 
            %span Exit
            %i.icon-remove
      - else
        .col
          %a.m-btn.icn-only.txt-icn{:href => home_url}
            %span Back
            %i.icon-home
      .col
        %a#send-button.m-btn.blue.icn-only.txt-icn
          %span Done
          %i.icon-ok
.w2pac
  .content
    = render "game/grid"

    .plane_area
      #plane1.rotation1.airplane.basic-sprite.draggable-airplane
      #plane2.rotation1.airplane.basic-sprite.draggable-airplane
      #plane3.rotation1.airplane.basic-sprite.draggable-airplane
    .information
      %p Drag 3 airplanes
      %p 
        - unless @mobile_device
          Click to rotate
        - else
          Tap to rotate
      %p Good luck!
  .footer
	

