%header
  .container#game-id{:game => params[:game]}
    .col
      .col
        %h3
          - if @opponent
            VS #{@opponent.name}
          - else
            VS Random player
    .col.alignright
      - if params.has_key? :game
        .col
          %a.m-btn.red{:href => game_exit_url(params[:game])} Exit
      - else
        .col
          %a.m-btn{:href => home_url} Back
      .col
        %a#send-button.m-btn.blue Done
.w2pac
  .content
    .main_grid
      .top_mark
        .mark
        .mark A
        .mark B
        .mark C
        .mark D
        .mark E
        .mark F
        .mark G
        .mark H
        .mark I
        .mark J
      .clear
      .left_mark
        .mark 1
        .mark 2
        .mark 3
        .mark 4
        .mark 5
        .mark 6
        .mark 7
        .mark 8
        .mark 9
        .mark 10
      .grid.basic-sprite
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
        .line
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
          .square
			
    .plane_area
      #plane1.rotation1.airplane.basic-sprite.draggable-airplane
      #plane2.rotation1.airplane.basic-sprite.draggable-airplane
      #plane3.rotation1.airplane.basic-sprite.draggable-airplane
    .information
      %p Drag & Drop 3 airplanes on grid
      %p Click to rotate
      %p Press Done when you're ready. Good luck!
  .footer
	

