%header
  .container
    .col
      .col.game-users
        %h3
          %span.current_user
            = @curr_user.name
            vs
          %span
            = @other_user.name
    .col.alignright
      .col
        %a.m-btn{:href => home_url} Back
      .col
        %a.m-btn.red{:href => game_exit_url} Exit

.w50cent
  .content
    .play_grid#main_grid1{:av => current_user.mapFromGame(params[:id]), :game => params[:id], :user => current_user.id, :lov => current_user.concatMovesVS(params[:id], @curr_user.id + @other_user.id - current_user.id)}
      = render "game/grid"
    .play_grid#main_grid2{:lov => current_user.concatMovesVS(params[:id], current_user.id), :class => ("not-your-turn" if current_user.id != @curr_user.id)}
      = render "game/grid"
  .footer
