%header
  .container
    .col.alignright
      .col
        %a.m-btn{:href => home_url} Back
      .col
        %a.m-btn.red{:href => game_exit_url} Exit
#wait{:game => params[:id]}
  .sonicx
  .sonicx
    %h3 
      Please wait 
      %br
      (We're searching an opponent)
