%header
  .container
    .col.alignright
      .col
        %a.m-btn.icn-only.txt-icn{:href => home_url} 
          %span Back
          %i.icon-home
      .col
        %a.m-btn.red.icn-only.txt-icn{:href => game_exit_url} 
          %span Exit
          %i.icon-remove

#wait{:game => params[:id]}
  .sonicx
  .sonicx
    %h3 
      Please wait 
      %br
      (We're searching an opponent)
