/*
 *=require bootstrap
 *=require index
 */

@font-face{
	font-family:"Scris";
	scr: url("Nexa Bold.otf") format("opentype");
}
.w2pac{
	width:710px;
	margin:0 auto;
  overflow: hidden;
}
.clear{
	clear:both;
}
.line{
	width:400px;
	height:40px;
}
.current_user {
  text-decoration: underline;
  color: green;
  font-weight: bold;
}
#timer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: blue;
  z-index: 978;
  transition: linear 1s;
}
.square{
	width:38px;
	height:38px;
	border:1px solid whitesmoke;
	float:left;
	opacity: 0.8;
}

.plane_area .rotation1 {
  width: 100%;
  height: 100%;
  background-image: url(avion.png);
  background-size: 100%;
}
.plane_area .rotation2 {
  width: 80%;
  height: 125%;
  background-image: url(avion2.png);
  background-size: 100%;
}
.plane_area .rotation3 {
  width: 100%;
  height: 100%;
  background-image: url(avion3.png);
  background-size: 100%;
}
.plane_area .rotation4 {
  width: 80%;
  height: 125%;
  background-image: url(avion4.png);
  background-size: 100%;
}
.grid > .rotation1 {
  width: 50%;
  height: 40%;
  background-image: url(avion.png);
  background-size: 100%;
}
.grid > .rotation2 {
  width: 40%;
  height: 50%;
  background-image: url(avion2.png);
  background-size: 100%;
}
.grid > .rotation3 {
  width: 50%;
  height: 40%;
  background-image: url(avion3.png);
  background-size: 100%;
}
.grid > .rotation4 {
  width: 40%;
  height: 50%;
  background-image: url(avion4.png);
  background-size: 100%;
}

.w2pac .main_grid {
  float: left
}
.main_grid {
	width: 440px;
  height: 440px;
  margin: 0 auto;
}
.main_grid .grid {
  width: 90.91%;
  height: 90.91%;
  float: left;
  background-image: url(cloud.png);
  background-size: 100% 100%;
}
.main_grid .top_mark{
	width: 100%;
	height: 9.090909%;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	font-family: "Scris", Verdana, Sans-serif;
}
.main_grid .top_mark .mark{
	height: 100%;
	width: 9.09090909%;
	float:left;
}
.main_grid .left_mark{
	width: 9.090909%;
	height: 90.91%;
	float: left;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
	font-family: "Scris", Verdana, Sans-serif;
}
.main_grid .left_mark .mark {
  height: 10%;
  width: 100%;
  float: left;
}
.main_grid table {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  width: -webkit-calc(100% + 1px);
  height: -webkit-calc(100% + 1px);
  max-width: calc(100% + 1px);
  max-width: -webkit-calc(100% + 1px);
}
.main_grid tbody {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
.main_grid tr {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}
.main_grid td {
  width: 10%;
  height: 10%;
  border: 1px solid whiteSmoke;
}
.main_grid td.hit-0, .main_grid td.hit-1, .main_grid td.hit-2 {
  position: relative;
  background-size: 100% 100%;
  z-index: 5;
}
.main_grid td.hit-0 {
  background-image: url(miss.png);
}
.main_grid td.hit-1 {
  background-image: url(lovit.png);
}
.main_grid td.hit-2 {
  background-image: url(cap.png);
}
.play_grid h5 {
  height: 20px;
  min-width: 1%;
  line-height: 20px;
  margin: 0;
  text-align: right;
  margin-top: 5px;
  margin-right: 20px;
}
#main_grid2.not-your-turn {
  opacity: 0.3;
}
#main_grid2.not-your-turn h5 {
  opacity: 0;
}

.plane_area{
  margin: 10px;
  margin-top: 70px;
	width:200px;
	float:left;
  position: relative;
}
.plane_area .airplane{
  position: absolute;
}
.plane_area .draggable-airplane {
  transition-property: top, left, bottom, right;
  transition-timing-function: ease;
  transition-duration: 0.1s;
}
.bovina{
	margin-top: 10px;
	float:right;
}
#main_grid1 .grid {
  position: relative;
}
#main_grid1 .airplane{
	position:absolute;
}
.content{
  overflow: hidden;
  padding: 20px;
}
.w50cent{
	width: 1040px;
	margin:0 auto;
}
#main_grid1{
	float:left;
}
#main_grid2{
	float:left;
	margin-left:100px;
}
#loading {    
    width:400px;  
    top:0px;  
    left:50%;  
    margin-left:-150px;  
    text-align:center;  
    padding:7px 0 0 0;  
    font:bold 11px Arial, Helvetica, sans-serif;  
    margin:300 auto;
}  

#loading img{
	height:400px;
	width:400px;
}
.scris{
	position:relative;
	top:50;
	left:50;
}
.sonicx{
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.sonicx a {
	float: right;
}
.finish {
  margin-top: 70px !important;
  width: 100%;
  max-width: 500px !important;
  margin: 0 auto;
}
.finish .m-btn {
  margin-top: 50px;
  line-height: 30px;
  font-size: 18px;
}
.finish h1 {
  font-size: 50px !important;
  margin: 25px 0;
  color: green;
  text-align: center;
}
.finish h3 {
  color: red;
  text-align: center;
}
.information {
  width: 200px;
  float: left;
  position: relative;
  margin-left: 20px;
}
