// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-image-1
  position: fixed
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: 100%
@media (max-width: 1000px)
  .container-image-1
    background: url(background-3.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
@media (min-width: 1001px) and (max-width: 1500px)
  .container-image-1
    background: url(background-2.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
@media (min-width: 1501px)
  .container-image-1
    background: url(background-1.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
.login
  position: absolute
  background: whiteSmoke
  width: 240px
  padding: 10px 20px 20px 20px
  border: 2px solid black
  border-radius: 5px
  top: 40%
  left: 50%
  margin-left: -175px
  margin-top: -150px
.invelis .login
  margin-top: 40px
.login
  h2
    margin-bottom: 20px

  input[type="email"], input[type="password"], input[type="text"]
    width: 100%
    font-size: 16px
    line-height: 20px
    height: auto
.clear
  clear: both
.colorfull-container
  .col
    float: left
    margin-right: 10px
  .results *
    margin-right: 5px
  .games-results a
    color: red
  .games-results .winner a
    color: green
    font-weight: bold
.containnnn
  li
    margin-left: 15px
    display: none
    animation: animattt 4s 
    transition: all 1s ease-in-out
    &:first-child
      display: block
    img
      width: 300px
      height: auto
  
