.wins
  color: green
.losses
  color: red
body > .container
  margin-top: 51px
body
  padding-top: 51px
.alignright
  float: right !important
.alignleft
  float: left !important
.aligncenter
  margin: 0 auto
.container
  width: 80%
  max-width: 800px !important
.container-image-1
  position: fixed
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: 100%
@-webkit-keyframes gogogo
  0% 
    margin-left: 0
  100%
    margin-left: 100%
.states
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 0
  text-align: center
  z-index: 998
  color: #4d90fe
  line-height: 20px
  font-size: 16px
  font-weight: bold
  background: whiteSmoke
  letter-spacing: 1.2
  opacity: 0
  transition: ease 0.5s
  &.active
    opacity: 1
    line-height: 50px
    height: 50px
#loading-bar.active
  position: fixed
  top: 50px
  left: 0
  width: 100%
  height: 3px
  z-index: 998
  background-color: #4d90fe
  #box1, #box2
    width: 3px
    height: 3px
    background: white
    float: left
    // transition: ease 0.5s
    animation-name: gogogo
    animation-duration: 3s
    animation-timing-function: ease
    animation-iteration-count: infinite
    animation-play-state: running
    -webkit-animation-name: gogogo
    -webkit-animation-duration: 3s
    -webkit-animation-timing-function: ease
    -webkit-animation-iteration-count: infinite
    -wekit-animation-play-state: running

  #box2
    margin-left: 32%
@media (max-width: 800px)
  .container-image-1
    background: url(background-3.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
@media (min-width: 801px) and (max-width: 1200px)
  .container-image-1
    background: url(background-2.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
@media (min-width: 1201px)
  .container-image-1
    background: url(background-1.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
.clear
  clear: both
#search_user_input
  float: right
  font-size: 12px
  height: 30px
  padding: 8px
  margin-top: 5px
.popover
  position: fixed !important
  .arrow
    top: 20px !important
.popover.active
  display: block
#search-friend-popover
  input
    line-height: 16px
    font-size: 14px
    padding: 0px 7px
    margin-bottom: 0
    border-radius: 4px 4px 0 0
    height: 30px
.input-top
  position: fixed
  top: 0
  left: 50px
  z-index: 998
  border: none
  box-shadow: none
  border-radius: none
  background: whiteSmoke
.invelis > .footer, .turbolinks-container > .footer
  position: fixed
  margin-left: -25px
  bottom: 0
.footer
  width: 100%
  height: 120px
  padding: 15px 0 5px 0
  position: relative
.logo
  width: 286px
  height: 120px
  position: relative
  margin: 0px auto
  i
    font-size: 107px
    display: block
    float: left
    color: #4d90fe
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.48px)
    z-index: 988
  .jet1
    -webkit-transform: rotate(295deg)
    transform: rotate(-90deg)
  .jet2
    -webkit-transform: rotate(18deg)
    transform: rotate(-180deg)
    margin-left: -25px
  .jet3
    -webkit-transform: rotate(-164deg)
    transform: rotate(-45deg)
    margin-left: -43px
    margin-right: -10px
  .text
    position: absolute
    left: 92px
    bottom: 7px
    z-index: 988
    font-size: 16px
    color: #007898
    div
      float: left
      letter-spacing: 1px
    .three
      font-size: 24px
      margin-right: 2px
    .jets
      margin-top: 3px
.window
  .logo
    margin-top: 20px
