.nnavbar#users_panel{:channel => current_user.special_key, "ng-controller" => "OnlineCtrl", "turbolinks-eval" => false}
  %a{:href => user_profile_path(current_user.id)}
    .nrow
      .ricon
        %img{:src => current_user.image_url}
      .rtitle
        = current_user.name
  %hr
  .ntitle
    Games
  %div{"ng-repeat" => "game in games | filter: verify"}
    %a{:href => "{{game.game_ur}}"}
      .nrow{"ng-show" => "game.num_players>0||game.turn==2"}
        .ricon{"ng-class" => "{attention: (game.num_players==2&&game.turn==1)||game.turn==2}"}
          %img{"ng-src" => "{{game.enemy_pic}}"}
          .time{"ng-show" => "game.time > 0"} {{game.time}}
        .rtitle{"ng-show" => "game.num_players==1&&game.turn<2"}
          Waiting for an opponent
        .rtitle{"ng-show" => "game.turn==1&&game.num_players==2"}
          Your turn
        .rtitle{"ng-show" => "game.turn==0&&game.num_players==2"}
          {{game.enemy_name}}'s turn
        .rtitle{"ng-show" => "game.turn==2"}
          Put your airplanes
  %hr
  .ntitle
    Notifications
  %div{"ng-repeat" => "notification in notifications"}
    .nrow.expandable{"ng-show" => "notification.notf_type<=2"}
      .asdfasdf
        .ricon
          %img{"ng-src" => "{{notification.user_pic}}"}
        .rtitle
          {{notification.title}}
      .uname
        From: {{notification.user_name}}
      .buttons
        %a.btn.btn-small.btn-primary{:href=>"{{notification.user_url}}"}
          View
        %a.btn.btn-small.btn-inverse{:href=>"{{notification.accept_url}}", "ng-click" => "acceptNotif(notification); $event.preventDefault();"}
          Accept
        %a.btn.btn-small.btn-inverse{:href=>"{{notification.decline_url}}", "ng-click" => "declineNotif(notification); $event.preventDefault();"}            
          Decline
    .nrow.expandable{"ng-show" => "notification.notf_type==3"}
      .asdfasdf
        .ricon
          %img{"ng-src" => "{{notification.user_pic}}"}
        .rtitle
          {{notification.title}}
      .uname
        vs {{notification.user_name}}
      .buttons
        %a.btn.btn-small.btn-primary{:href=>"{{notification.user_url}}"}
          View
        %a.btn.btn-small.btn-inverse{:href=>"{{notification.decline_url}}", "ng-click" => "declineNotif(notification); $event.preventDefault();"}            
          Delete
    .nrow.expandable{"ng-show" => "notification.notf_type==4"}
      .asdfasdf
        .ricon{"ng-class" => "notification.special_class"}
        .rtitle
          Achievement unlock!
      .uname
        {{notification.title}}
      .buttons
        %a.btn.btn-small.btn-inverse{:href=>"{{notification.decline_url}}", "ng-click" => "declineNotif(notification); $event.preventDefault();"}            
          Delete
      .nrow.expandable{"ng-show" => "notification.notf_type==5"}
      .asdfasdf
        .ricon
          %img{"ng-src" => "{{notification.user_pic}}"}
        .rtitle
          {{notification.title}}
      .uname
        {{notification.user_name}} is your friend now!
      .buttons
        %a.btn.btn-small.btn-primary{:href=>"{{notification.user_url}}"}
          View
        %a.btn.btn-small.btn-inverse{:href=>"{{notification.decline_url}}", "ng-click" => "declineNotif(notification); $event.preventDefault();"}            
          Delete

  %hr
  .ntitle
    Friends
  %div{"ng-repeat" => "friend in friends | filter: verify"}
    .nrow.expandable
      .asdfasdf
        .ricon
          %img{"ng-src" => "{{friend.img}}"}
        .rtitle
          {{friend.name}}
      .buttons
        %a.btn.btn-small.btn-primary{:href=>"{{friend.url}}"}
          View
        %a.btn.btn-small.btn-inverse{:href=>"{{friend.invite}}"}
          Invite

